workflow_LAAcuxQVlaUHabjg_wXlpSrXXQk7fsK8G.json
{"createdAt":"2025-09-04T16:55:08.909Z","updatedAt":"2025-09-04T18:01:54.000Z","id":"wXlpSrXXQk7fsK8G","name":"backupWORKING","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,-32],"id":"1886a8a4-8a57-4adc-a110-f707d25f804f","name":"When clicking ‘Execute workflow’"},{"parameters":{"command":"cd /tmp && \\\nrm -rf backups-n8n && \\\ngit clone https://github.com/amaliecjensen/backups-n8n && \\\ncd backups-n8n && \\\ngit checkout -b nyedata\n"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[224,-32],"id":"35f0189d-f2a8-4aae-8a9a-d62f6931dc0c","name":"Execute Command"},{"parameters":{"url":"http://localhost:5678/api/v1/workflows?limit=250","authentication":"predefinedCredentialType","nodeCredentialType":"n8nApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,-32],"id":"e80bde3a-322e-4878-a445-5d52b54affa5","name":"HTTP Request2","credentials":{"n8nApi":{"id":"iiamUJL6UgUgfHZw","name":"n8n account"}}},{"parameters":{"command":"cd /tmp/backups-n8n\ngit remote set-url origin git@github.com:amaliecjensen/backups-n8n.git\ngit add . \ngit commit -m \"backup\" \ngit checkout main \ngit merge nyedata \ngit branch -d nyedata \ngit push\n\n"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1344,-32],"id":"b05e83dd-6961-4458-a24e-b5411e2ffb8d","name":"Execute Command1"},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[672,-32],"id":"c801ceec-4c21-46de-8b31-566600cbf985","name":"Split Out"},{"parameters":{"jsCode":"return items.map(item => {\n  const workflowData = item.json;\n\n  // Filnavn\n  const fileName = `workflow_${workflowData.id}.json`;\n\n  // JSON som string\n  const fileContent = JSON.stringify(workflowData, null, 2);\n\n  // Returner både json og binary\n  return {\n    json: {\n      fileName,\n    },\n    binary: {\n      data: {\n        data: Buffer.from(fileContent).toString('base64'),\n        fileName,\n        mimeType: 'application/json'\n      }\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[672,192],"id":"b07171a6-4e58-4f18-aa9e-496c470062c6","name":"Code"},{"parameters":{"operation":"write","fileName":"=/tmp/backups-n8n/{{$binary.data.fileName}}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1120,-32],"id":"3b044772-f759-4278-acc9-421baa7b341c","name":"Read/Write Files from Disk"},{"parameters":{"jsCode":"return items.map(item => {\n  const workflowData = item.json;\n  const safeName = $input.first().json.id;\n\n  return {\n    binary: {\n      data: {\n        data: Buffer.from(JSON.stringify(workflowData)).toString(\"base64\"),\n        mimeType: \"application/json\",\n        fileName: `workflow_${safeName}_${workflowData.id}.json`,\n      }\n    }\n  };\n});\n\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[880,-32],"id":"f55574df-cbaf-45a9-816b-f10186d9b38d","name":"Code1"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Execute Command","type":"main","index":0}]]},"Execute Command":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code":{"main":[[]]},"Read/Write Files from Disk":{"main":[[{"node":"Execute Command1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"eb282b00-f6d5-409e-be57-45a00972a66f","triggerCount":0,"shared":[{"createdAt":"2025-09-04T16:55:08.951Z","updatedAt":"2025-09-04T16:55:08.951Z","role":"workflow:owner","workflowId":"wXlpSrXXQk7fsK8G","projectId":"UdACivrq7f5sBtX5"}],"tags":[]}