workflow_LAAcuxQVlaUHabjg_Qn0veJZmwDX9cV3I.json
{"createdAt":"2025-09-08T07:37:05.200Z","updatedAt":"2025-09-08T09:27:53.000Z","id":"Qn0veJZmwDX9cV3I","name":"Newsletter","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-416,16],"id":"b82f2f4d-430d-41f0-af37-37eb0a6a66a2","name":"When chat message received","webhookId":"8b3c8622-340d-4dd9-80b4-6323d2bdca65"},{"parameters":{"options":{"systemMessage":"=You are a helpful assistant to write newsletters.  \nThe current date is: {{ $now }}\n\nAGENT INSTRUCTIONS  \nAlways write newsletters in a clear, structured and professional format.  \nAlways use this exact layout:\n\n[Virksomhedsnavn] – Nyhedsbrev, {{ $json[\"month\"] }} {{ $json[\"year\"] }}\n\nKære [Navn],  \nHer er de seneste nyheder og opdateringer fra os.  \n\nNyhed 1: [Overskrift]  \n[Kort intro-tekst, 1-2 sætninger]  \n[Læs mere →]  \n\nNyhed 2: [Overskrift]  \n[Kort intro-tekst, 1-2 sætninger]  \n[Læs mere →]  \n\nTak fordi du følger med. Vi glæder os til at dele mere snart.  \n\nMed venlig hilsen  \n[Virksomhedsnavn]\n\nRULES  \n- Always include the header with company name, \"Nyhedsbrev\" and month/year.  \n- Always include a polite greeting (\"Kære [Navn],\").  \n- Each news item must have: Overskrift + 1-2 sentences intro + \"[Læs mere →]\".  \n- Keep tone professional, concise, and easy to read.  \n- Never skip the closing thanks and signature.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-72,16],"id":"ed2cdd28-a1d6-4b76-9e73-7ee1aeb3a827","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-192,240],"id":"238f6263-f3bd-41c9-8da5-412e3c6c64ee","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"oc3y6YBQJlRN5Dx1","name":"OpenAi account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-64,240],"id":"65e5279e-191a-4192-a3f0-23a6352e9e36","name":"Simple Memory"},{"parameters":{"toolDescription":"Reads data from an RSS Feed\nShows the latest news for denmark","url":"https://www.dr.dk/nyheder/service/feeds/senestenyt","options":{}},"type":"n8n-nodes-base.rssFeedReadTool","typeVersion":1.2,"position":[64,240],"id":"267ae632-38d4-483e-8855-2f3cc53f2d25","name":"Latest news"},{"parameters":{"sendTo":"amalienovember@gmail.com","subject":"Hej Amalie! her er dit nyhedsbrev! ","emailType":"text","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[192,240],"id":"fb3b453c-6adc-43bd-82aa-4eadc8fde997","name":"Send a message in Gmail1","webhookId":"e632a88d-19f4-4c84-9fad-bacc73484031","credentials":{"gmailOAuth2":{"id":"uZPX3xmLxHAVQotF","name":"Gmail account"}}}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Latest news":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[]]},"Send a message in Gmail1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When chat message received":[{"json":{"sessionId":"d70a8e046925434fbd5b4ad2edc7dcec","action":"sendMessage","chatInput":"giv mig de seneste nyheder og skriv et nyhedsbrev"}}]},"versionId":"33e5f806-fac1-49e9-bc3a-c0698466ba85","triggerCount":0,"shared":[{"createdAt":"2025-09-08T07:37:05.251Z","updatedAt":"2025-09-08T07:37:05.251Z","role":"workflow:owner","workflowId":"Qn0veJZmwDX9cV3I","projectId":"UdACivrq7f5sBtX5"}],"tags":[]}